<!DOCTYPE html>
<html>
	<head>
		<title>qStudent</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<style>
			.body {
				color: #FFFF;
				background: rgb(113,252,118); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(113,252,118,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,252,118,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(113,252,118,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(113,252,118,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(113,252,118,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(113,252,118,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71fc76', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
			}
		</style>

		
 	</head>
	<body>
		<div class="container-fluid">
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>

		<div class="row">
		<%- body %>
		</div>
	</div>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" />
	</body>
</html>
